*{
  box-sizing: border-box;
}
input{
  border: 2px solid black;
}
section{
  width: 50%;


}
.typeAndSend{
  width: 50%;
  background-color: white;
}

.container{
  width: 50%;
  border: 2px solid black;
  height: 200px;
  background-image: url("classroom.jpg");
  background-size: auto;

}
